@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');


body { 
    background-color: #F5F4EF;
    max-width: 75%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
}

h1 {
    font-size: 36pt;
}

div#top {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}

header#banner {
    flex-grow: 0;
    flex-shrink: 1;

    display: flex;
    justify-content: center;
}

header#banner a {
    text-decoration: none;
    text-align: center;
    color: black;
}

nav#menu {

    max-width: 90%;
    margin: 0 auto;

    background: black;
    min-height: 40px;
    border-radius: 10px;

    color: white;

    font-family: 'Old Standard TT', serif;
    font-size: 18pt;

    display: flex;
}

nav#menu ul {
    list-style: none;

    border-radius: inherit;
    height: inherit;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    flex-grow: 1;

    display: flex;
    flex-flow: row;
    justify-content: end;
}

nav#menu li {
    box-sizing: border-box;
    display: block;
    flex-grow: 1;

    height: inherit;

    padding: 7px 20px 7px 20px;
    text-align: center;
}

nav#menu li:first-child {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

nav#menu li:last-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

nav#menu a {
    text-decoration: none;
}

nav#menu a:visited {
    color: white;
}

nav#menu .active {
    background-color: #C74451;
}

#content {
    background: white;
    border-radius: 15px;
    padding: 20px 30px;
}

.hentry { /* post entry in post list */
    margin: 15px;
}

.body .post-info { /* post info in article view */
    float: right;
    padding: 5px;
    margin: 10px;
}

.entry-title a, .entry-title a:visited {
    color: black;
    margin-top: 0px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
    }

    header#banner a {
        color: #ffffff;
    }

    nav#menu {
        background-color: #434343;
    }

    :link {
        color: #0000BB;
    }
    
    :visited {
        color: #441570;
    }

    nav#menu a, nav#menu a:visited, .entry-title a, .entry-title a:visited {
        color: #ffffff;
    }

    #content {
        background-color: #4e4e4e;
    }
}

@media only screen and (orientation: portrait) {
    body {
        max-width: 95%;
    }
}